/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso http://codepen.io/Kseso/pen/phiyL **/


/************************************ FONTS ************************************/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@font-face {
	font-family: 'icomoon';
	src:url('http://jlalovi-cv.herokuapp.com/font/icomoon.eot');
	src:url('http://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('http://jlalovi-cv.herokuapp.com/font/icomoon.ttf') format('truetype'),
		url('http://jlalovi-cv.herokuapp.com/font/icomoon.woff') format('woff'),
		url('http://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  width : screen.Width+"px";
min-width : 1345px;
height:100%;
  background-repeat: no-repeat;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   overflow-x: auto;
    overflow-y: auto;
}
/************************************* END FONTS *************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.header-menu ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
h2 {
	font-size: 17px;
}

p {
	font-size: 15px;
}

a {
	text-decoration: none;
	font-size: 15px;
}
	a:hover {
		text-decoration: underline;
	}

h2, p, a, span{
	color: #fff;
}
	.scnd-font-color {
		color: #9099b7;
	}

.input-container {
	position: relative;
}
	.profile_add input[type=text]{
	border: 1px solid #ededed;
    border-radius: 3px;
    width: 350px;
    height:35px;
    outline: none;
    margin-right: 1px;
    margin-top:5px;
    transition: all 0.4s;
    float:left;
	}

	.input-icon {
		font-size: 22px;
		position: absolute;
		left: 31px;
		top: 10px;
	}
		.input-icon.password-icon {
			left: 35px;
		}

.clear {
	clear: both;
}

.icon {
	font-size: 20px;
}
.profile{
    float:left;
    background:#394264;
    width:19%;
    height:480px;
    margin-top:10px;
    margin-left:10px;
    padding-bottom: 10px;
    position:relative;
    border-radius:3px;
}
.profile-left{
    width:100%;
}
.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;
}
	.big-profile-picture {
		border: 5px solid #50597b;
		width: 150px;
		height: 150px;
		position:relative;
		margin:0 auto;
	}
	.small-profile-picture {
		border: 2px solid #50597b;
		width: 40px;
		height: 40px;
		display: inline-block;
		vertical-align: middle;
	}
    .logo img{
        width:12%;
        height:40px;
        display:inline;
        float:left;
        padding:5px 10px 0px 10px;
    }
/** MAIN CONTAINER **/

.main-container {
	font-family: 'Ubuntu', sans-serif;
	width: 100%
	height: auto;
}
	/*********************************************** HEADER ***********************************************/
	header {
	    width: 100%;
		height: 50px;
		background: #22313F;
		margin:0 auto;
	}

		.header-menu {
			font-size: 17px;
			line-height: 40px;
			margin: 0;
	        padding: 0;
	        list-style-type: none;
        }
			.header-menu li {
				position: relative;
        		-webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
        		float: left;
			}
				.header-menu-tab font{
				    left:-10px;
                    position:relative;
                    color:#FFFFFF;
    				}
			.header-menu-tab {
					display: block;
					line-height: 30px;
					font-size: 14px;
					-webkit-transition: background .3s;
					transition: background .3s;
					width:110px;
				}
					.header-menu-tab:hover {
						background: #50597b;
						border-bottom: 4px solid #11a8ab;
						text-decoration: none;
					}
					.header-menu-tab .icon {
						padding-right: 5px;
						left:-12px;
						position:relative;
					}
				.header-menu-number {
					position: absolute;
					line-height: 4px;
					padding: 0 3px;
					font-weight: 8px;
					border-radius: 100%;
					top: 5px;
					right: 1px;
					-webkit-transition: all .3s linear;
					transition: all .3s linear;
				}
					.header-menu li:hover .header-menu-number {
						text-decoration: none;
						-webkit-transform: rotate(360deg);
						transform: rotate(360deg);

					}
					.search_bar {
					    position:relative;
					    left:8%;
					    width : 45%;

					}
		.profile-menu {
			float: right;
			height: 40px;
			padding-top:3px;
			margin:0 auto;
		}
			.profile-menu p {
				font-size: 17px;
				display: inline-block;
				line-height: 40px;
				margin: 0;
				padding-right:5px;
			}
		.profile-menu a:hover {
			text-decoration: none;
		}
		.scnd-font-color1{
        	color: #9099b7;
		}
		.scnd-font-color1:hover{
		    color:#fff;
		}
		.user-name {
			font-size:20px;
			text-align:center;
			color:#fff;
		}
				.entry{
				    left:50px;
				    position:relative;
				}
				.entry input[type=text], 	.entry input[type=date]{
				    clear:right;
				}
				.entry input[type=submit]{
				    clear:both;
				}
			.entry input[type=text],.entry input[type=date] {
                    	border: 1px solid #ededed;
                        border-radius: 3px;
                        width: 35%;
                        height:30px;
                        outline: none;
                        transition: all 0.4s;
                        display:inline;
                        float:left;
                    	}
				 #dob,#livingin, #hometown {
				    font-size:13px;
					color:#D1D1BA;
					font-weight:normal;
					position:relative;
					width:30%;
					clear:left;
					float:left;
					line-height:10px;
					top:-12px;
					vertical-align:middle;
				}
                #Gender {
				    font-size:13px;
					color:#D1D1BA;
					font-weight:normal;
					position:relative;
					width:30%;
					clear:left;
					float:left;
					line-height:6px;
					top:-11px;
					vertical-align:middle;
				}
.pic_submit{
    float:left;
    position:relative;
}
.pic_submit input[type=submit] {
    background-color: #1ABC9C;
    color: #fff;
    cursor: pointer;
    width: 100px;
    height:35px;
    border: none;
    border-radius: 3px;
    outline: none;
    position:relative;
    top:10%;
}
.pic_submit input[type=submit]:hover {
 background-color: #019875;
}
.button1 input[type=file] {
    color: #fff;
    cursor: pointer;
    width: 80px;
    height:25px;
    border: none;
    border-radius: 3px;
    outline: none;
    position:absolute;
    left:67%;
  z-index: 2;
  -moz-opacity:0;
      filter:alpha(opacity: 0);
      opacity: 0;
      top:5px;
}

input.red
    {
        font-size:10px;
 width: 76px;
    height:16px;
  z-index:1;
  background-color: #FFF;
    color: #000000;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    outline: none;
    right:3%;
    position:absolute;
    top:5px;
    font-family: 'entypo', sans-serif;
    }

.button1 input[type=file] :hover{
    background-color: #FFF;
}

/*Search bar*/
.block li {
 list-style:none;
 float:left;
 font:12px Arial, Helvetica, sans-serif #111;
}

.block li a:link, .block li a:visited {
 display:block;
 text-decoration:none;
 background-color:#22313F;
 padding: 0.5em 2em;
 margin:0;
 border-right: 1px solid #22313F;
 color:#111;
}

.block li a:hover {
 background-color:#1f7f5c;

 font:14px Arial, Helvetica, sans-serif #fff;
 color:#fff;
}

/*style the sub menu*/
.block li ul {
 position:absolute;
 visibility:hidden;
 border-top:1px solid #B8B8B8;
 margin:0;
 padding:0;
 top:49px;
 z-index:200;
}
.block li ul li {
 display:inline;
 float:none;
}
.block li ul li a:link, .block li ul li a:visited {
 display:block;
 background: #1ABC9C;
 color:#fff;
 border:#111;
 width:auto;
}
.block li ul li a:hover {
 background-color:#019875;
}
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
.togglemenu {
background: #1ABC9C;
color: white;
display: block;
padding: 0.95em;
text-align: center;
width: 40px;
height: 35px;
margin-top:5px;
cursor:pointer;
font-family: 'entypo', sans-serif;
}
.togglemenu:hover{
    background:#019875;
}
.togglemenu:before{
  content: "\2630";
  font-size:1.5em;
  top: -10px;
  margin:0 auto;
  position:relative;
  background-color:transparent;
}


.togglemenu1 {

color: white;
display: block;
padding: 0.95em;
text-align: center;
width: 40px;
height: 35px;
margin-top:5px;
cursor:pointer;
font-family: 'entypo', sans-serif;
}


  margin:0 auto;
  position:relative;
  background-color:transparent;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

 * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s ease;
}
#box {
    display: inline-block;
 margin-left:3px;
}
input {
    float: right;
    border-radius: .2em;
}
input[type=search] {
    border: 1px solid #ededed;
    border-radius: 3px;
    width: 350px;
    height:35px;
    outline: none;
    margin-right: 1px;
    margin-top:5px;
    transition: all 0.4s;
}
input[type=search]:focus {
    width: 350px;
    color:#fff;
}
.block input[type=submit] {
    background-color: #1ABC9C;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height:35px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    outline: none;
    background-image: url('/static/index1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
    margin-top:5px;
}
.block input[type=submit]:hover {

 background-color: #019875;
    background-image: url('/static/index1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}
::-webkit-input-placeholder {
    font-family:'Open Sans', sans-serif;

}
input[type=search]:focus {
    border: 1px solid #1ABC9C;
    padding-left: 40px;
    background: url('/static/index.png');
    background-position: 13px center;
    background-repeat: no-repeat;
    background-size: 14px;
}
h1 {
    color: #666;
    font-weight: 300;
    font-family:'Open Sans Condensed', sans-serif;
}
/*Search formating end*/
/*middle container*/

.middle-container {
	width: 100%
	height: auto;
	margin:0 auto;

}
.search_results{
    position:relative;
	width:55%;
float:left;
    border-radius:3%;
}
.result{
    float:left;
    width:100%;
    position:relative;
    left:1%;
}
#userresults{
    position:relative;
    top:10px;
    background-color:#ececec;
    overflow: hidden;
    border-radius:3px;
    width:100%;
    height:100px;
}
.user-pic {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;
		border: 5px solid #50597b;
		width: 80px;
		height: 80px;
		position:relative;
		float:left;
		top:5px;
		left:5px;
	}
.userdetails{
    float:left;
    display:inline;
	color:#000000;
	width:70%;
	left:2%;
	position:relative;
}
.userdetails a{
color:#22313F;
font:16px;
font-weight:bold;
position:relative;
}
.userdetails p{
    display:inline;
    color:#22313F;
	position:relative;
	font-size:14px;
}
/*middle container ends*/
/*footer*/
.footer {
background-color:#22313F;
-webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
width : 100%;
position: relative;
height:100%;
bottom:0px;
float:left;
top:220px;
}
.footer h3{
width:100%;
color:#fff;
position:relative;
top:5px;
}
.footer h5 {
color:#fff;
width:95%;
left:2%;
position:relative;
top:5px;
}
.footer p{
color:#fff;
width:95%;
left:2%;
position:relative;
}
.footer-nav li {
right:8px;
position:relative;
display:inline;
}
/*footer end*/