.registration {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  right: -200px;  /* start off behind the scenes */
  height: 58.25%;
  position: fixed;
  width: 200px;
}